<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"
    ></script>
    <link rel="stylesheet" href="./../static/style.css" />
    <title>メインメニュー</title>
  </head>
  <body class="text-center">
    <header>
      <div class="header">
        <div class="header-left">麻雀システム</div>
        <div class="header-right">メインメニュー</div>
      </div>
    </header>
    <main>
      <div class="border">
        <div class="outline">
          <!-- ボタン-->
          <div class="pailistbutton">
            <!-- <form method="get" action="/pailist">
              <input type="submit" value="牌一覧" />
            </form> -->
            <input
              type="button"
              onclick="location.href='./pailist.html'"
              value="牌一覧"
            />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
